@import "settings/colors";
@import "settings/fonts";


.four-parts {
  background-image: url("../assets/Background-Form.jpg");
  //background-position:center;
  background-size: cover;
  width: auto;
  height: 715px;
  margin-top: -16px;

}

.one-out-of-four {
  p {
    padding-top: 26px;
    margin-left: 144px;
  }
}

.checkbox-section {
  padding: 45px;
  margin: 20px 0 20px 100px;

  h3 {
    font-size: 30px;
  }
}

.first-title {
  h3 {
    margin: 0;
  }
}

.box {
  width: 300px;
  margin: 33px 0;
  display: flex;
  align-items: center;
  user-select: none;

  label {
    font-family: $fontOpen;
    font-size: 16px;
    color: $color5;
    position: absolute;
    z-index: 10;
    padding-left: 50px;
    cursor: pointer;
  }

  input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: unset;

    &:checked {

      ~ .check {
        border-color: $color5;
        box-shadow: 0 0 0 15px #FAD648 inset;

        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  .check {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid $color5;
    box-shadow: 0 0 0 0 #FAD648 inset;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
  }
}

.first-step-button {
  width: 135px;
  height: 55px;
  border: 1px solid $color5;
  background-color: unset;
  font-family: $fontOpen;
  font-size: 15px;
  margin-left: 140px;
  padding: 10px;
  margin-top: 40px;


}