@import "settings/colors";
@import "settings/fonts";

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  z-index: -1;
  bottom: 2.5em;

}

.footer-icons {
  display: flex;
  position: absolute;
  left: 85%;

  img {
    flex-direction: row;
    justify-content: end;
    align-items: end;
    margin: 0.625em;
  }

}