@import "settings/colors";
@import "settings/fonts";

.main-page {
  height: 42.5em;
}
.home-image {
  img {
    position: relative;
    width: 60.625em;
    height: auto;
    left: -27%;
    top:-7.8em;
  }
}

.main-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 1.25em;

}

.main-text {
  position: relative;
  text-align: center;
  left: -12%;
  top: -4.375em;

  h1 {
    font-size: 1.875em;
    font-weight: bold;
    width: 18em;
    font-family: $fontOpen;
    margin: 0.313em;
  }

  img {
    padding: 0.875em;
  }
}

.options-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  margin: 0.313em;
  font-size: 1.625em;
  font-weight: 300;
  color: #3c3c3c;


  a {
    text-decoration: none;
    max-width: 15.625em;
    margin:0.3em;
  }

  p {
    border: 1px solid #737373;
    //margin: 10px;
    padding: 0.4em;
    font-size: 1.1em;
    color: #3c3c3c;
    width: 8em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

  }
}
.options-buttons p:hover {
  transition: all 0.3s ease-in-out;
  color: $color5;
  border: 0.02em solid $color3;
}