@import "settings/colors";
@import "settings/fonts";


.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F1F1;
}

.about-us-text {
  text-align: center;
  width: 55%;
  margin: 0 auto;

  h1 {
    font-size: 1.9em;
    font-weight: 400;
  }
}

.about-us-text {
  margin-top: 50px;
  justify-content: center;
  align-items: center;

  img {
    width:11em;

  }

  p {
    font-size: 1.2em;
    line-height: 40px;
  }

}


.signature-image {
  width: 160px;
  height: 100px;
  margin-left: 65%;
  //margin-top: 3%;

}


.about-us-picture {
  img {
    width: 100%;
    height: auto;
  }

}
