@import "settings/colors";
@import "settings/fonts";

.section-steps-title {
  text-align: center;
  padding: 1.25em;
  margin: 1.25em;

  h1 {
    font-weight: bold;
    font-family: $fontOpen;
    font-size: 1.875em;
  }

  img {
    width: 11em;
  }
}
.step hr {
  color: #070707;
  width:4.375em;

}
.background-grey {
  background-color: #F0F1F1;
}

.four-steps {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 1.250em;
  width: 75%;
  margin: 0 auto;

}

.step {
  font-family: $fontOpen;
  font-weight: lighter;
  padding: 1.563em;

  h2 {
    //font-weight: bolder;
    font-size: 1em;
    padding: 0.438em;
    margin:0.313em;
  }

  p {
    font-size: 0.9em;
    font-weight: bold;
  }
}

.step {
  img {
    width: 4.688em;
    height: 4.688em;

  }
}


.button-give {
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  margin: 0.375em;
  font-size: 1.625em;
  font-weight: 300;
  color: #3c3c3c;


  a {
    text-decoration: none;
    max-width: 15.625em;
    margin:0.625em;
  }

  p {
    border: 1px solid #737373;
    padding: 0.625em;
    font-size: 1em;
    color: #3c3c3c;
    width: 7.75em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

  }
}
.button-give p:hover {
  transition: all 0.3s ease-in-out;
  color: $color5;
  border: 1px solid $color3;
}