@import "settings/colors";
@import "settings/fonts";

.section-steps-title {
  text-align: center;
  padding: 20px;
  margin: 20px;

  h1 {
    font-weight: bold;
    font-family: $fontOpen;
    font-size: 30px;
  }

  img {
    width: 11em;
  }
}
.step hr {
  color: #070707;
  width:70px;

}
.background-grey {
  background-color: #F0F1F1;
}

.four-steps {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 20px;
  width: 75%;
  margin: 0 auto;

}

.step {
  font-family: $fontOpen;
  font-weight: lighter;
  padding: 25px;

  h2 {
    //font-weight: bolder;
    font-size: 1em;
    padding: 7px;
    margin:5px;
  }

  p {
    font-size: 0.9em;
    font-weight: bold;
  }
}

.step {
  img {
    width: 75px;
    height: 75px;

  }
}


.button-give {
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  margin: 5px;
  font-size: 26px;
  font-weight: 300;
  color: #3c3c3c;


  a {
    text-decoration: none;
    max-width: 250px;
    margin:10px;
  }

  p {
    border: 1px solid #737373;
    padding: 10px;
    font-size: 27px;
    color: #3c3c3c;
    width: 230px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

  }
}
.button-give p:hover {
  transition: all 0.3s ease-in-out;
  color: $color5;
  border: 1px solid $color3;
}