@import "settings/colors";
@import "settings/fonts";

// KOMU POMAGAMY?

.who-do-we-help {
  text-align: center;

  h1 {
    margin-top: 45px;
    margin-bottom: 3px;
    text-align: center;
    font-family: $fontOpen;
    font-weight: bold;
    font-size: 28px;


  }

  img {
    width: 180px;
    height: 60px;
  }
}

.help-examples {
  display: flex;
  text-align: center;
  justify-content: center;


  button {
    padding: 8px;
    margin: 0.5em 1.8em 0.5em 1.8em;
    font-family: $fontOpen;
    background-color: unset;
    font-size: 17px;
    border: 1px solid transparent;
    font-weight: bold;

  }

  button:hover {
    border: 1px solid black;
  }


}

.helping-section {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding: 15px;
  line-height: 26px;

  p {
    margin-bottom: 20px;
  }
}

.section-article {
  //display: flex;
  //justify-content: center;
}

.article-text {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  //justify-content: space-around;
  border-bottom: 1px solid grey;
}

.article-title {

  font-family: $fontMerriweather;

  h2 {
    font-size: 18px;
    font-weight: lighter;

  }

  p {
    font-size: 14px;
  }
}

.article-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-number {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  p {
    margin: 10px;
    padding: 10px;
  }

  p:hover {
    border: 1px solid black;
  }

}

.collection-numbers {
  color: unset;
}