@import "settings/colors";
@import "settings/fonts";

// KOMU POMAGAMY?

.who-do-we-help {
  text-align: center;

  h1 {
    margin-top: 2.813em;
    margin-bottom: 0.188em;
    text-align: center;
    font-family: $fontOpen;
    font-weight: bold;
    font-size: 1.75em;
  }

  img {
    width: 11.25em;
    height: 3.75em;
  }
}

.help-examples {
  display: flex;
  text-align: center;
  justify-content: center;


  button {
    padding: 0.5em;
    margin: 0.5em 1.8em 0.5em 1.8em;
    font-family: $fontOpen;
    background-color: unset;
    font-size: 1.063em;
    border: 0.063em solid transparent;
    font-weight: bold;

  }

  button:hover {
    border: 0.063em solid black;
  }


}

.helping-section {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding: 0.938em;
  line-height: 1.625em;

  p {
    margin-bottom: 1.25em;
  }
}

.section-article {

}

.article-text {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  border-bottom: 0.063em solid grey;
}

.article-title {
  font-family: $fontMerriweather;

  h2 {
    font-size: 1.125em;
    font-weight: lighter;

  }

  p {
    font-size: 0.875em;
  }
}

.article-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-number {
  padding: 1.875em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.625em;

  p {
    margin: 0.625em;
    padding: 0.625em;
    border: 0.063em solid transparent;
  }

  p:hover {
    border: 0.063em solid black;
  }

}

.collection-numbers {
  color: unset;

}