@import "settings/colors";
@import "settings/fonts";


.background-color {
  //background: #FAD648;
  margin-top: -150px;
  background-image: url("../assets/3 Columns Background.png");
}

.articles {
  display: flex;
  padding: 25px;
  color: $color5;
  justify-content: space-around;
}

.article {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 330px;

}

.number {
  font-family: $fontOpen;
  font-size: 65px;
  font-weight: lighter;
  margin: 10px;
}

.article-name {
  font-family: $fontOpen;
  font-size: 0.93em;
  font-weight: bolder;
}

.article-t {
  font-family: $fontMerriweather ;
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  line-height: 1.5em;
}

.article-text {
  font-family: $fontOpen;
  font-weight: lighter;
  letter-spacing: -0.32px;
  font-size: 1em;
  margin-bottom: 1em;

}
