@import "settings/colors";
@import "settings/fonts";


.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F1F1;
}

.about-us-text {
  text-align: center;
  width: 55%;
  margin: 0 auto;

  h1 {
    font-size: 1.9em;
    font-weight: 400;
  }
}

.about-us-text {
  margin-top: 3.125em;
  justify-content: center;
  align-items: center;

  img {
    width:11em;

  }

  p {
    font-size: 1.2em;
    line-height: 2.5em;
  }

}


.signature-image {
  width: 10em;
  height: 6.25em;
  margin-left: 65%;

}


.about-us-picture {
  img {
    width: 100%;
    height: auto;
  }

}
