@import "settings/colors";
@import "settings/fonts";

.main-page {
  height: 680px;
}
.home-image {
  img {
    position: relative;
    width: 970px;
    height: auto;
    left: -27%;
    top:-130px;
  }
}

.main-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 20px;

}

.main-text {
  position: relative;
  text-align: center;
  left: -12%;
  top: -70px;

  h1 {
    font-size: 30px;
    font-weight: bold;
    width: 540px;
    font-family: $fontOpen;
    margin: 5px;
  }

  img {
    padding: 14px;
  }
}

.options-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  margin: 10px;
  font-size: 26px;
  font-weight: 300;
  color: #3c3c3c;

  a {
    text-decoration: none;
    max-width: 220px;
  }

  p {
    border: 1px solid $color4;
    margin: 15px;
    padding: 12px;
    font-size: 27px;
    color: $color5;
    width: 210px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

  }
}
.options-buttons p:hover {
  transition: all 0.3s ease-in-out;
  color: $color5;
  border: 1px solid $color3;
}