@import "settings/colors";
@import "settings/fonts";


.background-color {
  //background: #FAD648;
  margin-top: -9em;
  background-image: url("../assets/3 Columns Background.png");
}

.articles {
  display: flex;
  padding: 1.563em;
  color: $color5;
  justify-content: space-around;
}

.article {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20.625em;

}

.number {
  font-family: $fontOpen;
  font-size: 4.063em;
  font-weight: lighter;
  margin: 0.5em;
}

.article-name {
  font-family: $fontOpen;
  font-size: 0.93em;
  font-weight: bolder;
}

.article-t {
  font-family: $fontMerriweather ;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.2em;
  line-height: 1.5em;
}

.article-text {
  font-family: $fontOpen;
  font-weight: lighter;
  letter-spacing: -0.020em;
  font-size: 1em;
  margin-bottom: 1em;

}
