@import "settings/colors";
@import "settings/fonts";

.main-page {
  height: 680px;
}
.home-image {


  img {
    position: relative;
    width: 870px;
    height: auto;
    left: -40%;
    top:-80px;
  }
}

.main-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  //top: -100px;
  position: relative;
  //z-index: -1;
  padding: 20px;

}

.main-text {
  position: relative;
  text-align: center;
  left: -12%;
  top: -70px;

  h1 {
    font-size: 30px;
    font-weight: normal;
    width: 530px;
  }

  img {
    padding: 14px;
  }
}

.options-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  a {
    text-decoration: none;
    max-width: 210px;
  }

  p {
    border: 2px solid $color4;
    margin: 15px;
    padding: 12px;
    font-size: 25px;
    color: $color5;

  }
}
