@import "settings/colors";
@import "settings/fonts";

.logged-in {
  font-family: $fontOpen;
  display: flex;
  justify-content: flex-end;
  margin-right: 5em;
  margin-top: 0.438em;
  position: relative;
  text-decoration: none;

  li {
    margin: 0.625em;
    font-size: 0.75em;
    color: $color4;
    text-decoration: none;
    padding: 0.625em;
    list-style: none;

  }

  li:nth-child(2) {
    border: 0.063em solid yellow;
    padding: 0.625em;
    text-decoration: none;
    font-weight: normal;
    color: black;
  }
  li:nth-child(3) {
    border: 0.063em solid black;
  }
  h3 {
    padding: 0.625em;
  }

}


nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 5em;

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
    font-size: 0.875em;
    margin: 0.375em;
    text-decoration: none;
    padding: 0.375em;
    color: $color5;
    font-weight: normal;
    a {
      text-decoration: none;
      margin: 0.375em;
      color: $color5;
      padding: 0.375em;

    }
  }
}

li:first-child {
  border: 0.063em solid $color5;
}



// main page

.home-cardigan-image {
  position: relative;
  z-index: -1;
  top: -8.125em;
left: 0;
  img {
    width: 53.125em;
    height: auto;
  }

}

.logged-main-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  //z-index: -1;
  padding: 1.250em;
  left: -8%;

}

.logged-main-text {
  text-align: center;
  top: -130px;
  position: relative;

  h1 {
    font-size: 1.750em;
    font-weight: normal;
  }

  img {
    padding: 0.875em;
  }
}

.square-border {
  font-size: 6.875em; /* Sterowanie rozmiarem figury. */
  width: 1em;
  height: 1em;
  border: 0.063em solid black;
  margin: 3.438em auto 0;
  transform: rotate(45deg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 0.875em;
  }
}

.four-squares {
  display: flex;
  color: $color5;
}

.main-options {
  p {
    margin: 0 auto;
    padding: 0;
  }
}

.square-text {
  position: absolute;
  transform: rotate(-45deg);

  p {
    font-size: 1.250em;
    border: none;

  }

}

.square {
  //padding:15px;
  margin: 0.938em;
}


// important section

.important-section {
  background-color: #FAD648;
  margin-top: -10.375em;
  padding: 0.313em;

}

.important-text {
  margin-left: 6.875em;
  padding: 1.875em;

  h3 {
    font-size: 1.375em;
    margin-bottom: 0.313em;
  }
}
