@import "settings/colors";
@import "settings/fonts";

.logged-in {
  font-family: $fontOpen;
  display: flex;
  justify-content: flex-end;
  margin-right: 5em;
  margin-top: 0.4375em;
  position: relative;
  text-decoration: none;

  li {
    margin: 10px;
    font-size: 13px;
    color: $color4;
    text-decoration: none;
    padding: 0.78em;
    list-style: none;

  }

  li:nth-child(1) {
    border: 0.0625em solid yellow;
    text-decoration: none;
    font-weight: normal;
    color: black;
  }
  li:nth-child(2) {
    border: 0.0625em solid black;
  }
}

.logged-in {
  li:hover {
    cursor: pointer;
  }
}


  nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 5em;

    a {
      text-decoration: none;
    }

    li {
      font-size: 0.825em;
      margin: 0.313em;
      text-decoration: none;
      color: $color5;
      padding: 0.438em;
      list-style: none;
      border: 0.0625em solid transparent;
      a {
        text-decoration: none;
        margin: 0.438em;
        color: $color5;
        padding: 0.313em;
        font-family: $fontOpen;
        font-weight: bold;

      }
    }
  }
  li:hover {
    border: 0.063em solid $color5;
    cursor: pointer;
  }


// main page

.home-cardigan-image {
  position: relative;
  z-index: -1;
  top: -10em;
left: 1.75em;
  img {
    width: 53.75em;
    height: auto;
  }
}

.logged-main-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 1.25em;
  left: -8%;

}

.logged-main-text {
  text-align: center;
  top: -8.125em;
  position: relative;

  h1 {
    font-size: 1.75em;
    font-weight: normal;
  }

  img {
    padding: 0.875em;
  }
}

.square-border {
  font-size: 6.875em; /* Sterowanie rozmiarem figury. */
  width: 1em;
  height: 1em;
  border: 0.01em solid black;
  margin: 0.2em auto 0;
  transform: rotate(45deg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 0.875em;
  }
}

.four-squares {
  display: flex;
  color: $color5;
}

.main-options {
  p {
    margin: 0 auto;
    padding: 0;
  }
}

.square-text {
  position: absolute;
  transform: rotate(-45deg);

  p {
    font-size: 0.17em;
    border: none;

  }

}

.square {
  //padding:15px;
  margin: 0.9375em;
}


// important section

.important-section {
  background-color: #FAD648;
  margin-top: -11.5em;
  padding: 0.3125em;

}

.important-text {
  margin-left: 6.875em;
  padding: 1.875em;

  h3 {
    font-size: 1.375em;
    margin-bottom: 0.3125em;
  }
}
