@import "settings/colors";
@import "settings/fonts";


// FORMULARZ KONTAKTOWY

.contact {
  height: auto;
  display: flex;
  position: relative;
}

.background-contact-section {
  opacity: 0.2;
  z-index: -1;
  position: relative;

  img {
    width: 98vw;
    height: 95vh;
  }
}


.name-email-input {
  display: flex;
  justify-content: space-between;

  input {
    width: 12.5em;
    margin-right: 0.625em;
    height: 1.563em;

  }
}

.contact-form {
  height: 21.875em;
  align-items: end;
  padding: 3.125em 0;
  position: absolute;
  left: 65%;
  top: -38.75em;


}

.form-title {
  text-align: center;

  h1 {
    margin: 0.938em;
    font-weight: lighter;
    color: black;
    font-size: 1.688em;

  }

  img {
    width: 11.25em;
    height: auto;
    margin-bottom: 2.813em;
  }
}


.contact-form form {
  background: #fff;
  padding: 2.188em 0.625em;
  width: 70%;
  margin: 3.125em auto;
  font-size: 0.9em;
  opacity: 1;

}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.875em;

  label {
    margin-bottom: 0.938em;
    font-family: $fontOpen;


    textarea {
      width: 100%;
      text-align: left;
    }
  }
}

.form-input {
  border-top: none;
  border-right: none;
  border-left: none;
  background: unset;

}
.btn-dark {
  background: unset;
  padding: 0.625em;
}

.footer {
  margin-top: -4%;
  top: 30%;
  display: flex;
  p {
    text-align: center;
    margin: 1.563em 41.875em 1.250em 41.875em;
  }
}


.footer-icons {
margin-left: 3.438em;
  img {
    margin: 0.625em;
  }
}