@import "settings/colors";
@import "settings/fonts";


.login-section {
  h2 {
    padding: 0.313em;
    font-family: $fontOpen;
  }
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2.500em;
  height: 55%;

  h2 {
    font-weight: lighter;
    font-size: 1.625em;

  }

  img {
    width: 10em;
    height: auto;

  }
}


.login-input {
  display: flex;
  flex-direction: column;
  margin: 0.938em;

  input {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
    border-right: none;
    border-left: none;
    background: unset;
    height: 22%;

  }

  label {
    font-size: 0.813em;
    margin-bottom: 0.5em;
  }
}

.login-button {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  button {
    border: 0.063em solid black;
    background-color: unset;
    font-family: $fontOpen;
    padding: 0.625em;

  }
  button:hover {
    cursor: pointer;

  }

}

.login-form {
  background-color: #F0F1F1;
  width: 24%;
  height: 50%;

}

.section-inputs {
  margin: 12% auto;
  width: 80%;

}