@import "settings/colors";
@import "settings/fonts";


.logout-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  font-family: $fontOpen;
  font-weight: lighter;
  font-size: 20px;
text-align: center;
  margin-top: 6%;
  line-height: 47px;
  img {
    padding: 30px;
    width: 250px;
    height: auto;
  }
  button {
    border: 1px solid black;
    background-color: unset;
    font-family: $fontOpen;
    padding: 12px;
    font-size: 14px;
  }

}