@import "settings/colors";
@import "settings/fonts";


.login-register {
  font-family: $fontOpen;
  display: flex;
  justify-content: flex-end;
  margin-right: 5em;
  margin-top: 0.438em;
  position: relative;
  text-decoration: none;

  a  {
    margin: 0.625em;
    font-size: 0.813em;
    color: $color4;
    text-decoration: none;
    padding: 0.188em 0.875em 0.188em 0.875em;


  }  a:hover {
       border: 1px solid $color3;
       padding: 0.188em 0.875em 0.188em 0.875em;
       text-decoration: none;
     }
}


.navigation {
  nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 5em;

    a {
      text-decoration: none;
    }

    li {
      font-size: 14px;
      margin: 0.313em;
      text-decoration: none;
      color: $color5;
      padding: 0.438em;
      list-style: none;
      border: 1px solid transparent;
      a {
        text-decoration: none;
        margin: 0.313em;
        color: $color5;
        padding: 0.313em;
        font-family: $fontOpen;
        font-weight: bold;

      }
    }
  }
  li:hover {
    border: 0.063em solid $color5;
    cursor: pointer;
  }
}


