@import "settings/colors";
@import "settings/fonts";

.login-register {
  font-family: $fontOpen;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  margin-top: 7px;
  position: relative;


  a  {
    margin: 10px;
    font-size: 13px;
    color: $color4;
    text-decoration: none;
    padding: 10px;
    border: 1px solid transparent;

  }  a:hover {
       border: 1px solid $color3;
       padding: 10px;
       text-decoration: none;

     }

}

.navigation-home  {
  nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;

    a {
      text-decoration: none;
    }

    li {
      font-size: 14px;
      margin: 5px;
      text-decoration: none;
      color: $color5;
      padding: 7px;
      list-style: none;
      border: 1px solid transparent;
      a {
        text-decoration: none;
        margin: 5px;
        color: $color5;
        padding: 6px;
        font-family: $fontOpen;
        font-weight: bold;

      }
    }
  }

  li:hover {
    border: 1px solid $color5;
  }
}

