@import "settings/colors";
@import "settings/fonts";

.login-register {
  font-family: $fontOpen;
  display: flex;
  justify-content: flex-end;
  margin-right: 5em;
  margin-top: 0.438em;
  position: relative;


  a  {
    margin: 0.625em;
    font-size: 0.813em;
    color: $color4;
    text-decoration: none;
    padding: 0.625em;
    border: 0.063em solid transparent;

  }  a:hover {
       border: 0.063em solid $color3;
       padding: 0.625em;
       text-decoration: none;

     }

}

.navigation-home  {
  nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 5em;

    a {
      text-decoration: none;
    }

    li {
      font-size: 0.875em;
      margin: 0.313em;
      text-decoration: none;
      color: $color5;
      padding: 0.438em;
      list-style: none;
      border: 0.063em solid transparent;
      a {
        text-decoration: none;
        margin: 0.313em;
        color: $color5;
        padding: 0.375em;
        font-family: $fontOpen;
        font-weight: bold;

      }
    }
  }

  li:hover {
    border: 0.063em solid $color5;
    cursor: pointer;
  }
}

